---
layout: default
---

<div class="container">
  <div class="row">
	<div class="col-md-8">
		{{ content }}
	</div>
	<div class="col-md-3 col-md-offset-1">
		<div class="panel panel-primary">
		  <div class="panel-heading">Links</div>
		  <ul class="list-group">
		  {% for link in page.links %}
		  <li class="list-group-item"><a target="_blank" href="{{ link.url }}">{{ link.name }}</a></li>
			{% endfor %}
		  </ul>
		</div>

		<div class="panel panel-primary">
		  <div class="panel-heading">3rd Party SDKs</div>
		  <ul class="list-group">
		  {% for sdk in page.sdks %}
		  <li class="list-group-item"><a target="_blank" href="{{ link.url }}">{{ sdk.name }}</a></li>
			{% endfor %}
		  </ul>
		</div>


	</div>
  </div>
</div>